<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product Page</title>
  </head>
  <body>
    <h1>This is product page</h1>
    <form action="/products" method="POST">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your product name"
      />
      <input
        type="text"
        name="price"
        id="price"
        placeholder="Enter your product price"
      />
      <input type="submit" />
    </form>
  </body>
</html>
